

.container {
    width:960px;
  }
  
  .grid-row {
    
    display: flex;
   
    
  }
  
  .grid-box {
  
  
    border-left: black solid 1px ;
  border-bottom: black solid 1px ;
    background-color:white;
    
    
   
  }
  
  .wrapper:first-child {
    border-top: black 1px solid;
  }
  
   .grid-row .grid-box:last-child {
    border-right: black 1px solid;
    
  }
  
  