
.container {
    width: 800px;
}

.grid-row {
    display: flex;
    border: 1px solid black;
}

.grid-box{
    height: 50px;
    width: 50px;
    width: 100%;
    border: 1px solid black;
    background-color: white;

}
